.calendar-container {
    padding: 20px;
    /*max-width: 900px;*/
    margin: 0 auto;
    background-color: #F0F4F8;
    font-family: "Inter", sans-serif;
    overflow-x: auto;
}

h2 {
  color: #1B4965;
}

.type-creator {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.type-creator input[type="color"] {
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.type-creator input[type="text"] {
  width: 200px;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: white;
  color: black;
  border: 2px solid #2B3040;
  outline: none;
  cursor: text;
}

.type-creator input[type="text"]:focus {
  border-color: #596A95;
}

.week-days, .calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.week-days {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.day-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    min-height: 140px;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.day-card.empty {
  background-color: #f5f5f5;
  border: none;
  pointer-events: none; /* User can't click them */
}
.day-card:hover {
    background-color: #f9f9f9;
    border-color: #000;
}

.event-list {
  flex-grow: 1; /* Pushes the input area to the bottom */
  margin-bottom: 5px;
  overflow-y: auto; /* Scroll if too many events */
  max-height: 80px;
}

.event-pill { /*styling for each event displayed in the day card*/
  display: flex;
  justify-content: space-between; /* Pushes text to left, X to right */
  align-items: center;
  font-size: 0.75rem;
  padding: 2px 5px;
  margin-bottom: 3px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.1);
  color: #333; /* Ensure text is readable */
}

.delete-btn {
  background: none;
  border: none;
  color: transparent;
  font-weight: bold;
  font-size: 1rem;
  line-height: 0.5; /* Keeps the X vertically centered */
  cursor: pointer;
  margin-left: 5px;
  padding: 0 1px;
  opacity: 0.8; /* Make it slightly see-through */
  transition: opacity 0.2s;
}

.delete-btn:hover {
  opacity: 1;
  color: #d32f2f; /* Red color on hover */
}

.day-input-area {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.day-input-area select {
  font-size: 0.7rem;
  padding: 2px;
  border-radius: 4px;     
  border: 1px solid #b0bec5;
  font-family: "Inter", sans-serif;
}

.mini-input {
  width: 94%;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
  font-family: "Inter", sans-serif;
}

.buttons {
  width: 20%;
  padding: 14px;
  border-radius: 8px;
  border: none;
  background-color: #1B4965;
  color: white;
  font-weight: bold;
  cursor: pointer;
  /*opacity: loading ? 0.7 : 1*/
}

.button-type {
  width: 10%;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background-color: #006d95;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

